mixin socials()
    ul.social
        li.social__item: a(href="#").social__link: i.icm.icm-fb
        li.social__item: a(href="#").social__link: i.icm.icm-vk
        li.social__item: a(href="#").social__link: i.icm.icm-telegram
        li.social__item: a(href="#").social__link: i.icm.icm-insta