//-title
-var siteName = 'Smart Airkey';
//-responsive
-var responsive = true;
//- css

-
	var cssList = [
		'libs/jquery-modal/jquery.modal.min.css',
		'libs/swiper/dist/css/swiper.min.css',
		'fonts/icomoon/style.css',
		'css/style.css'
	];
//- javactipt
-
	var scriptList = [
		'libs/jquery/dist/jquery.min.js',
		'libs/jquery-modal/jquery.modal.min.js',
		'libs/swiper/dist/js/swiper.min.js',
		'libs/parsleyjs/dist/parsley.min.js',
		'libs/jquery.maskedinput/dist/jquery.maskedinput.min.js',
		'js/custom.js'
	];