//-title
-var siteName = 'Smart Airkey';
//-responsive
-var responsive = true;
//- css

-
	var cssList = [
		//-'libs/fancybox/dist/jquery.fancybox.min.css',
		//-'libs/nouislider/distribute/nouislider.min.css',
		//-'libs/swiper/dist/css/swiper.min.css',
		//-'libs/sweetalert2/dist/sweetalert2.min.css',
		'fonts/icomoon/style.css',
		'css/style.css'
	];
//- javactipt
-
	var scriptList = [
		//-'libs/jquery/dist/jquery.min.js',
		//-'libs/fancybox/dist/jquery.fancybox.min.js',
		//-'libs/nouislider/distribute/nouislider.min.js',
		//-'libs/swiper/dist/js/swiper.min.js',
		//-'libs/sweetalert2/dist/sweetalert2.min',
		//-'libs/parsleyjs/dist/parsley.min.js',
		//-'libs/jquery.maskedinput/dist/jquery.maskedinput.min.js',
		'js/core.js',
		'js/custom.js'
	];