extends _template

block main
    .container.py-3
        .row.mb-5
            .col
                a(href="#").btn.btn_primary Кнопка
            .col
                a(href="#").btn.btn_primary.btn_ico
                    i.icm.icm-play
                    | Кнопка
            .col
                a(href="#").btn.btn_primary.btn_disabled Кнопка
        .row.mb-5
            .col
                a(href="#").btn.btn_light Кнопка
            .col
                a(href="#").btn.btn_light.btn_ico
                    i.icm.icm-play
                    | Кнопка
            .col
                a(href="#").btn.btn_light.btn_ico.btn_disabled
                    i.icm.icm-play
                    | Кнопка
        .row.mb-5
            .col
                a(href="#").btn.btn_bd Кнопка
            .col
                a(href="#").btn.btn_bd.btn_ico
                    i.icm.icm-play
                    | Кнопка
            .col
                a(href="#").btn.btn_bd.btn_disabled Кнопка
        .row.mb-5
            .col
                .tab-nav
                    .tab-nav__inner
                        .tab-nav__item.tab-nav__item_active Жилые комплексы
                        .tab-nav__item Предприятия
                        .tab-nav__item Офисы
                        .tab-nav__item Распределенные объекты
                        .tab-nav__item Парковки
        .row
            .col
                label.input
                    span.input__input
                        input(name="name" type="tel" placeholder="Плейсхолдек")
                        span.input__placeholder Инпут
                .input__error Ошибка
            .col
                label.input
                    span.input__input
                        input(name="name" type="tel" placeholder="Плейсхолдек")
                        span.input__placeholder Инпут
                .input__error Ошибка
        