extends _template

block main
    .container
        .row
            .col
                a(href="#").btn.btn_primary Кнопка
            .col
                a(href="#").btn.btn_light.btn_ico Кнопка
            .col
                a(href="#").btn.btn_light.btn_disable Кнопка
        .row
            .col
                .tab-nav
                    .tab-nav__item Жилые комплексы
                    .tab-nav__item Предприятия
                    .tab-nav__item Офисы
                    .tab-nav__item Распределенные объекты
                    .tab-nav__item Парковки