extends _template

block main
    .container
        .row
            .col: i.icm.icm-app
            .col Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas beatae illum magni sapiente eos id, totam consequuntur dolore dolorem explicabo molestias esse possimus, sint eveniet. Qui eos sed debitis aliquam!
            .col Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas beatae illum magni sapiente eos id, totam consequuntur dolore dolorem explicabo molestias esse possimus, sint eveniet. Qui eos sed debitis aliquam!
            .col Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas beatae illum magni sapiente eos id, totam consequuntur dolore dolorem explicabo molestias esse possimus, sint eveniet. Qui eos sed debitis aliquam!