@import "_settings/_mixins";
@import "_settings/_config";
@import "_settings/_reset";
@import "_bootstrap-grid";
@import "_fonts";

html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    background: $white;
    font-family: $ff-primary;
    margin: 0;
    padding: 0;
}

$ta: (
    ta-center:center,
    ta-left:left,
    ta-right:right
);

@include generateRule($ta, 'text-align');

/*-------------------------------------------------*/
/*  elements
/*-------------------------------------------------*/

/*-- START: ui --*/
.btn{
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    outline:none;
    color: inherit;
    font-size: 1.4rem;
    box-shadow: $shadow-md;
    border-radius: $bdrs-button;
    padding: em(20) em(86);
    font-weight: bold;
    &_primary{
        background: $primary;
        color: $primary-btn-text;
    }
}
/*-- END: ui --*/
