@import "_settings/_mixins";
@import "_settings/_config";
@import "_settings/_reset";
@import "_bootstrap-grid";
@import "_fonts";

html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    background: $white;
    font-family: $ff-primary;
    margin: 0;
    padding: 0;
}

$ta: (
    ta-center:center,
    ta-left:left,
    ta-right:right
);

@include generateRule($ta, 'text-align');

/*-- START: helpers --*/
.rotate-180{
    transform: rotate(180deg);
}
.off-link{
    text-decoration: none;
    color: inherit;
}
.ns{
    list-style: none;
    padding: 0; 
    margin: 0;
}
/*-- END: helpers --*/


/*-- START: ui --*/
.outer-container{
    max-width: 180rem;
    margin-left: auto;
    margin-right: auto;
}

.auth-btn{
    display: inline-block;
    @extend .off-link;
    cursor: pointer;
    &__ico, &__title{
        vertical-align: middle;
    }
    &__ico{
        box-shadow: $shadow-s;
        background: $white;
        color: $primary;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        font-size: 1.4rem;
        transition: all .3s;
    }
    &__title{
        transition: all .3s;
        font-size: 1.3rem;
    }
    &:hover{
        color: $primary;
        .auth-btn__ico{
            background: $primary;
            color: $white;
            box-shadow: $shadow-md;
        }
    }
}

//headers
.h{
    font-family: $ff-secondary;
    &_xs{
        color: $h_xs_color;
        font-size: $h_xs_size;
        font-weight: $h_xs_weigth;
    }
    &_s{
        color: $h_s_color;
        font-size: $h_s_size;
        font-weight: $h_s_weigth;
    }
    &_m{
        color: $h_m_color;
        font-size: $h_m_size;
        font-weight: $h_m_weigth;
    }
    &_l{
        color: $h_l_color;
        font-size: $h_l_size;
        font-weight: $h_l_weigth;
    }
}

//text
.text{
    @each $name, $color in $text-colors{
        &-#{$name}{
            color: $color;
        }
    }
}

//btns
.btn{
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    outline:none;
    color: inherit;
    font-size: 1.4rem;
    border-radius: $bdrs-button;
    padding: em(20,14) em(76,14);
    font-weight: bold;
    transition: box-shadow .3s, background .1s; 
    color: $primary;
    position: relative;
    .icm{
        margin-right: 1rem;
        &-play{
            font-size: 0.8em;
        }
    }
    &_ico{
        padding-left: em(67,14);
        padding-right:em(67,14);
    }
    &_light{
        background: $white;
        color: $muted600;
        box-shadow: $shadow-md;
        .icm{
            color: $primary;  
        }
        &:hover{
            background: $primary;
            box-shadow: $shadow-hover;   
            color: $white;
            .icm{
                color: $white;
            }    
        }
    }
    &_primary{
        background: $primary;
        color: $primary-btn-text;
        box-shadow: $shadow-md;
        .icm{
            color: $white;
        }
        &:hover{
            background: $primary-light;
            box-shadow: $shadow-hover;       
        }
    }
    &_bd{
        border: $border-default;
        color: $primary;
        padding: calc(#{em(20,14)} - 1px) calc(#{em(76,14)} - 1px);
        transition: all .3s;
        &:hover{
            border-color: $primary;
        }
    }
    &_disabled, &_disabled:hover{
        background: $white;
        color: $muted200;
        .icm{
            color: inherit;
        }
        cursor: not-allowed;
        &.btn_light,&.btn_primary{
            &,&:hover{box-shadow: $shadow-light;}
        }
        &.btn_bd{
            &:hover{
                border: $border-default !important;
            }
        }
    }
}

//forms

.input{
    border: $border-default;
    border-radius: $bdrs-button;
    font-size: 1.4rem;
    padding: calc(#{em(20,14)} - 1px) em(19,14);
    line-height: 1;
    width: 100%;
    max-width: 25rem;
    transition: border .3s;
    display: inline-block;
    cursor: pointer;
    &__error{
        font-size: 1.2rem;
        padding-left: em(19,12);
        color: $danger;
        margin-top: 0.4rem;
    }
    &__placeholder{
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .3s;
        z-index: 1;
        color: $muted500;
    }
    &__border{
        background: white;
        border: $border-default;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    &__input{
        position: relative;
    }
    input{
        border:none;
        width: 100%;
        font-size: inherit;
        color: inherit;
        cursor: pointer;
        transition: all .3s;
        opacity: 0;
        &:focus{
            opacity: 1;
            transform: translate(0, .6rem);
        }
        &:focus + .input__placeholder{
            bottom: 100%;
            font-size: 0.7em;
            color: $muted400;
        }
    }
    &_error{
        border-color: $danger !important;
    }
    &_focus{
        input{
            opacity: 1;
            transform: translate(0, .6rem);
        }
        input + .input__placeholder{
            bottom: 100%;
            font-size: 0.7em;
            color: $muted400;
        }
    }
    &_full-width{
        max-width:none;
    }
    &::placeholder{
        color: $muted500;
    }
    &:hover{
        border-color: mix($primary, $border-color, 30%);
    }
    &_focus{
        border-color: $primary !important;
    }
}
.slider-navigation{
    display: flex;
    align-items: center;
}

.slider-btn{
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    background: $white;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: all .5s;
    box-shadow: $shadow-s;
    margin: 0 1rem;
    &:first-child{
        margin-left: 0;
    }
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        background: $primary;
        color: $white;
    }
}

.slider-dots{
    display: inline-flex;
    margin: 0 1rem;
    &__dot{
        border-radius: 50%;
        width: 1.4rem;
        height: 1.4rem;
        background: $white;
        &:not(:first-child){
            margin-left: 1rem;
        }
    }
}
/*-- END: ui --*/

/*-- START: elements --*/

//solution
.solution-item{
    display: flex;
    &__col{
        flex: 1 1 auto;
        display: flex;
        &_image{
            flex: 0 1 auto;
        }
    }
    &__image{
        width: 101rem;
        padding-top: 53.9%;
        border-radius: $bdrs-big;
        margin-right: 10rem;
        background-size: cover;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

//main-slider
.main-slider{
    position: relative;
    
    &__navigation{
        margin-bottom: 3rem;
    }
    &__end{
        font-weight: bold;
        font-family: $ff-secondary;
        font-size: 1.8rem;
        line-height: 1.5;
    }
    &__static{
        color: $white;
    }
    &__header{
        text-shadow: 0 0.7rem 3.5rem rgba(0, 0, 0, 0.6);
        color: $white;
        font-family: "Roboto Slab";
        font-size: 6rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 10rem;
    }
    &__btns{
        margin-bottom: 3rem;
        &>*:not(:first-child){
            margin-left: 2rem;
        }
    }
    &__smalltext{
        margin-bottom: 6rem;
        line-height: 1.5;
        a{
            text-decoration: underline;
        }
    }
    &__slide{
        border-bottom-left-radius: $bdrs-big;
        border-bottom-right-radius: $bdrs-big;
        overflow: hidden;
        
        &:not(:first-child){
            display: none;
        }
    }
    &__static{
        padding: 2rem 0;
        position: absolute;
        left: 0;right: 0;
        bottom: 0;top: 0;
        display: flex;
        align-items: center;
    }
}

//main nav
.main-nav{
    display: inline-flex;
    align-items: center;
    &__link{
        @extend .off-link;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        color: $muted400;
        &:hover{
            color: $primary;
        }
        &:not(:first-child){
            margin-left: 4.9rem;
        }
    }
}

//top panel
.top-panel{
    box-shadow: 0 0.1rem 1.8rem rgba($primary, 0.18);
    &__logo{
        margin-right: .40rem;
    }
    &__social{
        margin-bottom: 1rem;
    }
    &__lang{
        margin-left: 0.5rem;
    }
    &__right{
        &-top,&-bottom{
            padding: .7rem 0;
        }
    }
    &__right-top{
        border-bottom: 1px solid $border-color;
    }
    &__callback{
        padding: .9rem 4rem;
    }
    &__nav{
        margin-right: 4.6rem;
    }
}

//logo
.logo{
    max-width:10rem;
    display: inline-block;
    img{
        max-width: 100%;
    }
}

//tabs
.tab{
    &-nav{
        overflow: auto;
        &__inner{
            display: inline-flex;
        }
        &__item{
            font-size: 1.4rem;
            font-weight: 700;
            color: $primary;
            background: $white;
            padding: em(18,14) em(19,14);
            position: relative;
            margin-right: -1px;
            border: $border-default;
            cursor: pointer;
            transition: border .2s;
            &:first-child{
                border-top-left-radius: $bdrs-button;
                border-bottom-left-radius: $bdrs-button;
            }
            &:last-child{
                border-top-right-radius: $bdrs-button;
                border-bottom-right-radius: $bdrs-button;
            }
            &:hover{
                border-color: $primary;
                z-index: 1;
                position: relative;
            }
            &_active{
                color: $white;
                background: $primary;
                border-color: $primary;
            }
        }
    }
}

//socials
.social{
    @extend .ns;
    display: inline-flex;
    align-items: center;
    &__item{
        &:not(:first-child){
            margin-left: 1.67rem;
        }
    }
    &__link{
        @extend .off-link;
    }
    .icm{
        &-vk{
            color: #2A82BA;
            font-size: 2.1rem;
        }
        &-fb{
            color: #23589B;
            font-size: 1.7rem;
        }
        &-insta{
            color: #475FD5;
            font-size: 1.6rem;
        }
        &-telegram{
            color: #00A6E2;
            font-size: 1.4rem;
        }
    }
}

//lang
.lang{
    display: inline-block;
    box-shadow: $shadow-s;
    border-radius: $bdrs-big;
    color: $primary;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 1.3rem;
    transition: box-shadow .3s;
    &:hover{
        box-shadow: $shadow-md;
    }
    &__current{
        padding: .7rem 1.4rem;
    }
    &__list{
        top: 100%;
        position: absolute;
        display: none;
        z-index: 1;
    }
    &__list &__item{
        box-shadow: $shadow-s;
        border-radius: $bdrs-big;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transition: all .2s;
    }
    &_active{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &_active  &__list{
        display: block;
    }
    &__item{
        @extend .off-link;
        background: $white;
        padding: .7rem 1.4rem;
        display: inline-block;
        &:hover{
            background: mix($white, $primary, 95%);
        }
    }
}

.horizontal-contacts{
    display: inline-flex;
    font-size: 1.3rem;
    &__item{
        display: inline-flex;
        align-items: center;
        .icm{
            color: $muted100;
            font-size: 1.4rem;
            margin-right: 1rem;
        }
        &:not(:first-child){
            margin-left: 7.6rem;
        }
    }
}


/*-- END: elements --*/
